
input {
  font-size: 16px !important;
}

#map {
    margin: 20px;
}

#help {
    color: #ff0000;
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: #000000;
      color: #ffffff;
    }

    p {
        color: #ffffff;
    }

    td {
        color: #ffffff;
    }
}
